* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(178, 216, 147, 0.836);
}

header {
  position: fixed;
  top: 0;
  padding: 0 20%;
  height: 40px;
  background-color: rgba(109, 212, 25, 0.829);
  box-shadow: 0 10px 15px rgb(24, 51, 4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #fff;
}

nav ul {
  display: flex;
  justify-items: center;
  gap: 50px;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

nav li a:hover {
  text-decoration: underline;
}

.recipes {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 40px;
  list-style-type: none;
  margin: 50px 80px;
}

.recipe-item {
  background-color: rgba(248, 196, 26, 0.76);
  padding: 10px;
  box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.568);
  border-radius: 15px;
}

.food-img {
  width: 100%;
}

.recipe-name {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

i {
  font-size: large;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

i:active {
  font-size: larger;
}

.small {
  width: 54px;
}

.comments {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(109, 212, 25);
  box-shadow: 0 3px 7px rgb(24, 51, 4);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: none;
}

.footer {
  background-color: rgb(109, 212, 25);
  bottom: 0;
  right: 0;
  left: 0;
}

.footer small {
  padding-left: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(109, 212, 25);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(109, 212, 25);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 196, 26, 0.76);
  backdrop-filter: blur(8px);
}

.modal-content {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: #fefefe;
  border: none;
  box-shadow: 0 1px 10px black;
  width: 80%;
  height: 90vh;
  overflow-y: auto;
  padding: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.details {
  display: grid;
  gap: 10px;
  grid-template-columns: 45% 55%;
}

.details img {
  max-width: 100%;
  height: auto;
}

.instructions h1 {
  border-bottom: solid 2px rgb(109, 212, 25);
  margin-bottom: 15px;
}

.instructions h2 {
  padding-bottom: 10px;
}

.instructions p {
  font-size: 16px;
}

.ingredients {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

form {
  text-align: center;
  width: 100%;
}

form input,
textarea {
  width: 50%;
  border: 2px solid #000;
  padding: 10px;
}

.pad-btm {
  padding-bottom: 15px;
}

.comments-section {
  margin-top: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-section h2 {
  align-self: flex-start;
  padding-bottom: 10px;
}

#itemC {
  width: 100%;
  padding: 15px;
  background-color: rgba(236, 232, 218, 0.76);
  margin-bottom: 15px;
}

form #name {
  border: none;
  background-color: rgba(248, 196, 26, 0.76);
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  width: 60%;
}

form #message {
  border: none;
  background-color: rgba(248, 196, 26, 0.76);
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  width: 60%;
  height: 150px;
}

#alert {
  height: 10px;
}

form .cmnt-btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(109, 212, 25);
  box-shadow: 0 3px 7px rgb(24, 51, 4);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.2px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: none;
}
